* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto Mono', monospace;
    background-color:   #95b489;
}

html, body {
    margin: 0;
    padding: 0;
  
}


:root {
    --color1: #024c22;
    --color2: #ffd600;
    --color3: #95b489;
    --color4: #cc321c;
    background-color:   #95b489;
}


section {
    display: flex;
}

.text-bg-dark {
    background:  #95b489;
}

.fs-3 {
    color: #95b489;
}

.kontacto-link {
    background-color: var(--color2);
    text-decoration: underline;
}

.kontacto-link:hover {
    color: var(--color1);
}
 
.nav-link .kontacto-link {
    text-decoration-color: #ffd600;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.rotating-image {
    animation: rotate 10s linear infinite; /* Ajusta la duración y el tipo de animación según tus preferencias */
}

section {
    display: flex;
}
#kontacto {
    /* width: 100%; */
    max-width: 300px;
    position: fixed;
    height: 100vh;
    background-color: #95b489;
    margin-left: 0; /* Cambia el margen izquierdo a cero */
    z-index: 1; /* Asegura que #kontacto esté encima del menú */
}

.fst-italic {
    padding-top: 19px;
}

#kontacto .nav-item a {
    text-decoration: none;
    color: var(--color1);
    font-size: 0.9em;
}

#kontacto .nav-item a:hover{
    text-decoration: none;
    color: var(--color2);
}

#kontacto .nav-item i {
    color: var(--color1);
    margin-right: 3px; 
}

/* #foto {
    width: 500px;
} */

#foto strong{
    margin-left: 50px;
    background-color: var(--color2);
}

#foto marquee {
    padding-top: 2.5em;
}

.menu {
    background-color: #95b489;
    margin-bottom: 0px; /* Agrega un margen negativo para que el menú se deslice hacia arriba */
}

#menu {
    width: 100%;
    position: relative;
    transition: transform 0.3s ease;
    transform: translateY(0);
    padding: 10px;
}

#menu ul {
    padding-top: 20px;
}

#menu.menu-hidden {
    transform: translateY(-100%);
}

#footer-container {
    margin-top: 10px;
    padding-bottom: 10px;
    background-color: #95b489;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%; /* Ajusta el ancho al 100% */
}

#footer {
    width: 60%;
    margin: 0 auto;
    align-self: center;
}

#footer .rotating-image {
    width: 20%;
    max-width: 20%;
}

@media screen and (max-width: 932px) {
    body {
        font-size: 14px;
    }

    #foto-todo {
        height: 100%;
        width: 100%;
        position: absolute;
    }

    #foto-img {
        width: 100%;
        position: absolute;
        z-index: -1;
    }

    .kontacto-container {
        display: flex;
        flex-direction: column;
    }

    #menu {
        width: 50%;
        position: relative;
        z-index: 2;
        transition: transform 0.3s ease;
        transform: translateY(0);

    }

    #menu-todo, li, #kontacto-p {
        background-color: transparent;
    }

    

    #menu img {
        width: 70%;
        margin: 10px auto;
    }

    #menu ul {
        padding-top: 20px;
    }

    #menu.menu-hidden {
        transform: translateY(-100%);
    }

    #kontacto-p {
        width: 50rem;
        position: absolute;
        top: 27rem;
        height: 400vh;
        background-color: #95b489;
        margin-left: -300px;
        font-size: 20px;
    }

    #kontacto-p p {
        width: 15rem;
        text-align: justify;
    }
    
    #kontacto .kontacto-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        order: 1; /* Cambia el orden para poner .p-4s después del menú */
       
        padding-top: 200px;
    }
    
  
    

    #footer-container > #footer {
        width: 80%; /* Ajusta el ancho del footer en dispositivos más pequeños */
    }
   
}

@media(min-width:430px){
    #kontacto-p{
        height: unset!important;
        position: unset;
        width: unset;
    }
    #kontacto{
        height: unset;
        position:unset;
    }
    #foto-todo{
        /* height: unset !important; */
        display: none; 
    }
    #kontacto-p p {
        width: 22rem!important;
    }

    #footer-img {
        display: none; 
    }
}