* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto Mono', monospace;
    background-color:   #95b489;
}

html, body {
    margin: 0;
    padding: 0;
  
}


:root {
    --color1: #024c22;
    --color2: #ffd600;
    --color3: #95b489;
    --color4: #cc321c;
    background-color:   #95b489;
}


section {
    display: flex;
}

.text-bg-dark {
    background:  #95b489;
}

.fs-3 {
    color: #95b489;
}

.kontacto-link {
    background-color: var(--color2);
    text-decoration: underline;
}

.kontacto-link:hover {
    color: var(--color1);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.rotating-image {
    animation: rotate 10s linear infinite; /* Ajusta la duración y el tipo de animación según tus preferencias */
}

section {
    display: flex;
}

#kontacto {
    margin-left: 300px;
}

.fst-italic {
    padding-top: 19px;
}

#kontacto .nav-item a {
    text-decoration: none;
    color: var(--color1);
    font-size: 0.9em;
}

#kontacto .nav-item a:hover{
    text-decoration: none;
    color: var(--color2);
}

#kontacto .nav-item i {
    color: var(--color1);
    margin-right: 3px; 
}

#foto {
    padding-left: 600px;
}

#foto strong{
    margin-left: 50px;
    background-color: var(--color2);
}

#foto marquee {
    padding-top: 2.5em;
}

.menu {
    background-color: #95b489;
    margin-bottom: 0px; /* Agrega un margen negativo para que el menú se deslice hacia arriba */
}

#menu {
    width: 100%;
    position: relative;
    transition: transform 0.3s ease;
    transform: translateY(0);
    padding: 10px;
}

#menu ul {
    padding-top: 20px;
}

#menu.menu-hidden {
    transform: translateY(-100%);
}

@media screen and (max-width: 767px) {
    .d-flex .flex-column .flex-shrink-0 .p-3 {
        margin-left: 0;
        width: 100%;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        background-color: #95b489;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        position: relative;
    }
}
