* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto Mono', monospace;
    background-color:   #95b489;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #95b489;
  
}


:root {
    --color1: #024c22;
    --color2: #ffd600;
    --color3: #95b489;
    --color4: #cc321c;
    background-color:   #95b489;
}

section {
    display: flex;
}

.text-bg-dark {
    background:   #95b489;
}

.fs-3 {
    color: #95b489;
}

.home-link {
    background-color: #95b489;
    text-decoration: underline;
}

.home-link:hover {
    color: var(--color1);
}

.p-4s {
    background-color: var(--color3); /* Color de fondo */
    color: var(--color1); /* Color del texto */
    padding: 20px; /* Espaciado interno */
    margin-bottom: 20px; /* Margen inferior */
}

.p-4s h1 {
    font-size: 2em; /* Tamaño de la fuente del encabezado */
}

.p-4s p {
    font-size: 1.2em; /* Tamaño de la fuente del párrafo */
    line-height: 1.6; /* Altura de línea del párrafo */
}

.p-4s a {
    color: var(--color2); /* Color del enlace */
    text-decoration: none; /* Quitar subrayado del enlace */
    font-weight: bold; /* Peso de la fuente del enlace */
}

.p-4s a:hover {
    color: var(--color1); /* Color del enlace al pasar el ratón */
}
    .p-4s {
        display: flex;
        justify-content: flex-end; /* Alinea el bloque a la derecha */
    }

    .p-4s .col-md-6 {
        width: 50%; /* Utiliza la mitad del ancho disponible en pantallas grandes */
    }

    
    .menu {
        background-color: #95b489;
        margin-bottom: 0px; /* Agrega un margen negativo para que el menú se deslice hacia arriba */
    }
    
    #menu {
        width: 100%;
        position: relative;
        transition: transform 0.3s ease;
        transform: translateY(0);
        padding: 10px;
    }
    
    #menu ul {
        padding-top: 20px;
    }
    
    #menu.menu-hidden {
        transform: translateY(-100%);
    }
    .col mb-2 {
        background-color: #95b489;
    }
    .section {
        background-color:   #95b489;
    }
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.rotating-image {
    
    animation: rotate 10s linear infinite; /* Ajusta la duración y el tipo de animación según tus preferencias */
}

#somos {
    display: block;
    padding-top: 2em;
    background-color: #95b489;
}

#somos > div:nth-child(2) {
    margin-left: 0; /* Cambiado a 0 para pantallas pequeñas */
    margin-right: 0; /* Cambiado a 0 para pantallas pequeñas */
    color: var(--color1);
    background-color: #95b489;
}

#somos > div:last-child > .col-md-6 {
    width: 100%;
    background-color: #95b489;
}

#somos > div:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    background-color: #95b489;
}
#footer {
    margin-top: 20px; /* Elimina el margen superior */
    padding-top: 20px; /* Elimina el espacio interno superior */
    border-top: 0px; /* Elimina cualquier borde superior */
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    height: 100px; /* Ajusta la altura según sea necesario */
    background-color: #95b489;
}


@media screen and (max-width: 767px) {
    body {
        font-size: 14px;
    }

    .bg-dark {
        margin-left: 0;
        margin-right: 0;
    }

    #menu {
        width: 100%;
        position: relative;
        transition: transform 0.3s ease;
        transform: translateY(0);
    }

    #menu img {
        width: 70%;
        margin: 10px auto;
    }

    #menu ul {
        padding-top: 20px;
    }

    #menu.menu-hidden {
        transform: translateY(-100%);
    }

    /* Modificación para cambiar la posición de .p-4s */
    .p-4s {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        order: 1; /* Cambia el orden para poner .p-4s después del menú */
        padding-top: 50em;
    }

    .p-4s .col-md-6 {
        width: 100%;
 
    }

   #footer {
    height:300px;
   }

   #footer img {
    width:300px;
    height: auto;
   }

}

@media(min-width:430px){
    #menu div{
        height: unset !important;
    }
    #somos .p-4s{
        padding-top: 27em !important;
    }
}
